<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Screen recording is required to prompt the LLM</string>
	<key>CFBundleName</key>
	<string>SpeechCraft</string>
	<key>CFBundleDisplayName</key>
	<string>SpeechCraft</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Recording audio for transcription</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>SpeechCraft needs to send AppleScript commands to other apps (e.g. Mail) to automate your instructions.</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
