# Xcode
*.xcuserdatad
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/
*.xcworkspace
build/
DerivedData/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Archives
*.xcarchive
*.ipa

# Logs
*.log

# Temporary files
*~
*.swp
.idea/